#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
background-color: rgb(148, 241, 135);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.subTitle{
  color:red
}

.navBar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about{
  margin: 5px 30px;
  background-color: antiquewhite;
}

.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project{
  margin: 5px 10px;
  background-color: antiquewhite;
  width: 500px;
  height: 200px;
}
.project1{
  margin: 5px 10px;
  background-color: antiquewhite;
  width: 1100px;
  height: 200px;
background-image: url('./images/avatar.jpg');
}
.project2{
  margin: 5px 10px;
  background-color: antiquewhite;
  width: 1100px;
  height: 200px;
background-image: url('./images/dayPlanner.png');
}

.link{
  color: red;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.myContact{
  color: purple;
  font-size: 20px;
  font-weight: bold;
}

#image{
  width: 300px;
  height: 300px;
  border-radius: 15px;
}
#about-me-photo{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 10px;
  object-fit: contain;
}

.portfolio_photobox{
  width: 550px;
  height: 350px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px dashed black;
}

#quizgif{
  width: 1000px;
  height: 400px;
  object-fit: contain;
margin: auto;
border: 1px dashed black;
}